@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 28px;
  margin-bottom: 5px;
  font-weight: bold;
}

header p {
  font-size: 16px;
  margin: 2px 0;
}

header a {
  color: #20458e;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

/* Section Headers */
section h2 {
  font-size: 20px;
  color: #001f3f;
  border-bottom: 2px solid #001f3f;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

/* List Styles */
ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 20px;
}

ul li {
  font-size: 16px;
  margin-bottom: 10px;
}

p,
li {
  color: black;
}

.listed {
  padding-left: 25px;
  color: #155ebc;
}
/* Job Titles */
span {
  color: #155ebc;
}
h3 {
  font-size: 18px;
  font-weight: bold;

  margin-top: 20px;
}

h3 + p {
  margin-top: 0;
  color: #555;
}

/* Professional Statement Styles */
.professional-statement p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Certifications and Education Styles */
.education ul,
.certifications ul {
  margin-bottom: 0;
}

.education ul li,
.certifications ul li {
  font-size: 16px;
  line-height: 1.5;
}
